*.pdb
*.vcproj.*.user
*.resharper.user
*.suo
*.ncb
*.aps
*.user
*.ccscc
*.cache
*.bak
*.swp
*.exe
*.mdb
*.userprefs
Source/Dmaet.Core/bin/*
Source/Dmaet.Console/bin/*
Thumbs.db
*.FileListAbsolute.txt
*.Cache
tmp/*
build.force
